@model ListadoOrdenesAdquisicionViewModel

@{
    ViewBag.Title = "Ordenes";
    
}

@if (TempData["SuccessMessage"] != null)
{
        <script>
            Swal.fire({
                title: '¡Éxito!',
                text: '@TempData["SuccessMessage"]',
                icon: 'success',
                confirmButtonText: 'OK'
            });
        </script>
}

<h1 class="text-center">Listado de Ordenes de Materias Primas</h1>

<div class="col-lg-12" style="margin-bottom: 4%">
    <a class="btn btn-info" asp-area="Dashboard" asp-controller="Inicio" asp-action="Index">Volver atrás</a>
    <a class="btn btn-info" asp-action="ObtenerOrdenesProductosSuministradoresCSV" asp-controller="ProductoSuministrador">Generar CSV</a>
    <a class="btn btn-info" asp-action="ObtenerOrdenesProductosSuministradoresExcel" asp-controller="ProductoSuministrador">Generar Excel</a>
    <a class="btn btn-primary" asp-action="Index" asp-controller="ProductoSuministrador">Hacer Pedido</a>

    <nav aria-label="Page navigation" style="float: right;">
        <ul class="pagination">
            @if (Model.PaginaActual > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Ordenes" asp-route-pageNumber="@(Model.PaginaActual - 1)">Anterior</a>
                </li>
            }

            @for (var i = 1; i <= Model.PaginasTotal; i++)
            {
                <li class="page-item @(i == Model.PaginaActual ? "active" : "")">
                    <a class="page-link" asp-action="Ordenes" asp-route-pageNumber="@i">@i</a>
                </li>
            }

            @if (Model.PaginaActual < Model.PaginasTotal)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Ordenes" asp-route-pageNumber="@(Model.PaginaActual + 1)">Siguiente</a>
                </li>
            }
        </ul>
    </nav>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Proveedor</th>
            <th>Cantidad</th>
            <th>Precio Total</th>
            <th>Fecha de Orden</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var orden in Model.OrdenesAdquisicion)
            {
             <tr>
                    <td>@orden.ProductoSuministrador.NombreProducto</td>
                <td>@orden.ProductoSuministrador.CategoriaProductoSuministradorEnum</td>
                <td>@orden.ProductoSuministrador.Suministrador.RazonSocial</td>
                <td>@orden.CantidadDeOrden @orden.ProductoSuministrador.UnidadProductoEnum</td>
                <td>@orden.PrecioTotal.ToString("F") euros</td>
                <td>@orden.FechaDeCreacion.ToString("g")</td>
                <td>
                    @switch(orden.Estado){
                        case EstadoOrdenProductoSuministradorEnum.PendienteDeAprobacion:
                            <span class="label label-warning">Pendiente de Aprobación</span>
                            break;
                        case EstadoOrdenProductoSuministradorEnum.Aprobado:
                            <span class="label label-success">Aprobado</span>
                            break;
                        case EstadoOrdenProductoSuministradorEnum.Rechazado:
                            <span class="label label-danger">Rechazado</span>
                            break;
                        case EstadoOrdenProductoSuministradorEnum.Comprado:
                            <span class="label label-primary">Comprado</span>
                            break;
                    }
                    
                    </td>
                <td>
                    <a class="btn btn-success" asp-controller="ProductoSuministrador" asp-action="AprobarOrden" asp-route-id="@orden.Id">Aprobar <span class="glyphicon glyphicon-ok" style="color: white;"></span></a>
                    <a class="btn btn-warning" asp-controller="ProductoSuministrador" asp-action="RechazarOrden" asp-route-id="@orden.Id">Rechazar <span class="glyphicon glyphicon-remove" style="color: white;"></span></a>
                    <a class="btn btn-info">Editar</a>
                    <a class="btn btn-danger">Eliminar</a>
                    @if(orden.Estado == EstadoOrdenProductoSuministradorEnum.Aprobado)
                    {

                        <form asp-controller="ComprarProductoSuministrador" asp-action="Comprar" method="post">
                            <input type="hidden" name="compraId" value="@orden.Id" />
                            <button type="submit" class="btn btn-primary" style="float: right;">Comprar</button>
                        </form>
                    
                    }
                </td>
              </tr>
                
            }
        
    </tbody>
</table>