@model ListadoProductosParaVenderViewModel


<h1 class="text-center">Listado de Productos Para Vender</h1>

<div class="col-lg-12" style="margin-bottom: 4%">
    <a class="btn btn-info" asp-area="Dashboard" asp-action="Index" asp-controller="Inicio">Volver atrás</a>
    <a class="btn btn-info">Generar CSV</a>
    <a class="btn btn-info">Generar Excel</a>
    <a class="btn btn-primary" asp-action="Crear" asp-controller="ProductosParaVender" asp-area="Produccion">Crear Producto</a>


</div>

<table class="table table-bordered" style="margin-top: 4%">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Producto</th>
            <th>Descripción</th>
            <th>Ingredientes</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var producto in Model.ListadoProductosParaVender)
        {
            <tr>
                <td> <img src="@Url.Content($"~/{producto.ImagePath}")" alt="Logo" width="128" height="128" class="img-square" /></td>
                <td>@producto.NombreProducto</td>
                <td>@producto.Descripcion</td>
                <td>
                    @foreach(var ing in producto.Ingredientes)
                    {
                        <ul>
                            <li>
                                @ing.NombreProducto
                            </li>
                        </ul>
                    }
                </td>
                <td>@producto.Precio euros</td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>