@model ReservacionModel

<link rel="stylesheet" href="~/css/crearView.css" />
<h1 class="text-center">Crear una reservación</h1>

@using (Html.BeginForm("Crear", "Reservacion", FormMethod.Post, new { @style = "margin-top: 2%" }))
{
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                @Html.LabelFor(model => model.Nombre)
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @placeholder = "Ingrese su nombre" })
                @Html.ValidationMessageFor(model => model.Nombre,"", new { @class = "text-danger"})
            </div>

            <div class="col-lg-4">
                @Html.LabelFor(model => model.Apellidos)
                @Html.TextBoxFor(model => model.Apellidos, new { @class = "form-control", @placeholder = "Ingrese sus apellidos" })
                @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
            </div>

            <div class="col-lg-4">
                @Html.LabelFor(model => model.Telefono)
                @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", @placeholder = "Ingrese su teléfono" })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                @Html.LabelFor(model => model.CorreoElectronico)
                @Html.TextBoxFor(model => model.CorreoElectronico, new { @class = "form-control", @placeholder = "Ingrese su correo electrónico" })
                @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })
            </div>

            <div class="col-lg-4">
                @Html.LabelFor(model => model.FechadeReservacion)
                @Html.TextBoxFor(model => model.FechadeReservacion, new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(model => model.FechadeReservacion, "", new { @class = "text-danger" })
            </div>

            <div class="col-lg-4">
                @Html.LabelFor(model => model.HoradeReservacion)
                @Html.TextBoxFor(model => model.HoradeReservacion, new { @class = "form-control", @type = "time" })
                @Html.ValidationMessageFor(model => model.HoradeReservacion, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <div class="col-lg-12" id="btnCrear">
          <button type="submit" class="btn btn-primary">Crear Reservación</button>
        </div>
       
    </div>
}

