
@model ListadoReservacionesViewModel

@if (TempData["SuccessMessage"] != null)
{
	<script>
		Swal.fire({
			title: '¡Éxito!',
			text: '@TempData["SuccessMessage"]',
			icon: 'success',
			confirmButtonText: 'OK'
		});
	</script>
}

<h1 class="text-center">Listado de Reservaciones</h1>

<div class="col-lg-12" style="margin-bottom: 2%">
	<a class="btn btn-primary" asp-action="Crear" asp-controller="Reservacion" asp-area="Cliente">Crear Reservación</a>
	<a class="btn btn-info" asp-action="ObtenerReservacionesCSV" asp-controller="Reservacion" asp-area="Cliente">Generar CSV</a>
	<a class="btn btn-info" asp-action="ObtenerReservacionesExcel" asp-controller="Reservacion" asp-area="Cliente">Generar Excel</a> 
	<nav aria-label="Page navigation" style="float: right;">
		<ul class="pagination">
			@if (Model.PaginaActual > 1)
			{
				<li class="page-item">
					<a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PaginaActual - 1)">Anterior</a>
				</li>
			}

			@for (var i = 1; i <= Model.PaginasTotal; i++)
			{
				<li class="page-item @(i == Model.PaginaActual ? "active" : "")">
					<a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a>
				</li>
			}

			@if (Model.PaginaActual < Model.PaginasTotal)
			{
				<li class="page-item">
					<a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PaginaActual + 1)">Siguiente</a>
				</li>
			}
		</ul>
	</nav>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Estado</th>
			<th>Nombre</th>
			<th>Apellidos</th>
			<th>Correo Electrónico</th>
			<th>Télefono</th>
			<th>Fecha de Reservación</th>
			<th>Hora</th>
			<th>Acciones</th>
		</tr>
	</thead>

	<tbody>
			
			@foreach (var reservas in Model.ListadoReservaciones.OrderByDescending(fecha => fecha.FechadeReservacion))
			{
				<tr>
					<td>
						@if (reservas.EstadoReservacionEnum == EstadoReservacionEnum.Reservado){
							<span class="label label-success">Reservado</span>
						} else if (reservas.EstadoReservacionEnum == EstadoReservacionEnum.EnSesion)
						{
							<span class="label label-warning">En Sesión</span>
						} else if (reservas.EstadoReservacionEnum == EstadoReservacionEnum.Terminado)
						{
							<span class="label label-danger">Terminado</span>
						} else if (reservas.EstadoReservacionEnum == EstadoReservacionEnum.Desconocido)
						{
							<span class="label label-info">Desconocido</span>
						}
					</td>
					<td>@reservas.Nombre</td>
					<td>@reservas.Apellidos</td>
					<td>@reservas.CorreoElectronico</td>
					<td>@reservas.Telefono</td>
					<td><span class="label label-success">@reservas.FechadeReservacion.ToString("d")</span></td>
					<td><span class="label label-success">@reservas.HoradeReservacion.ToString("hh") : @reservas.HoradeReservacion.ToString("mm")</span></td>
					<td>
						<a class="btn btn-info"><span style="color: white" class="glyphicon glyphicon-info-sign"></span></a>
						<a class="btn btn-warning" asp-action="Editar" asp-controller="Reservacion" asp-area="Cliente" asp-route-id="@reservas.Id"><span style="color: white" class="glyphicon glyphicon-pencil"></span></a>
						<a class="btn btn-danger" asp-action="Eliminar" asp-controller="Reservacion" asp-area="Cliente" asp-route-id="@reservas.Id"><span style="color: white" class="glyphicon glyphicon-trash"></span></a>
						<a asp-action="ReservacionPDF" asp-area="Cliente" asp-controller="Reservacion" asp-route-id="@reservas.Id" class="btn btn-secondary"><span style="color: white" class="glyphicon glyphicon-print"></span></a>

					</td>
				</tr>
			}
	</tbody>
</table>

<hr />

@await Component.InvokeAsync("Sample")